[submodule "yet_another_date_picker"]
	path = yet_another_date_picker
	url = https://github.com/cloudonlanapps/yet_another_date_picker.git

[submodule "cl_media_tools"]
	path = cl_media_tools
	url = git@github.com:asarangaram/cl_media_tools.git
