**/.DS_Store
**/.flutter-plugins*
pub.dev/.venv/**
pub.dev/package_info.json
local_store/testArtifacts/**
keep_it/integration_test/ApplicationSupportPath/backgroundDownloaderDatabase/**

# FVM Version Cache
.fvm/
.vscode/settings.json
.fvmrc

experiment/**
colan_services/devtools_options.yaml
